.horizontal-product {
    display: flex;
    gap: 12px;
    .img-wrap {
        width: 90px;
        height: 90px;
        
        img {
            width: 100px;
        }
    }
    .txt-wrapper {
        h2 {
            font-size: 16px;
            margin-bottom: 4px;
        }
        .Raiting-stars {
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            gap: 2px;
            img {
                width: 14px;
                height: 14px;
            }
        }
        .purchase-wrapper {
            padding: 8px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                color: #adadad;
                font-size: 14px;
                font-weight: 500;
                text-decoration-line: strikethrough;
                span#currentPrice {
                    margin-right: 8px;
                    color: #3bb77e;
                    font-size: 18px;
                    font-weight: 600;
                }
                span#discountLine {
                    text-decoration-line: line-through;
                }
            }
        }
    }
}
