header{
    background: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(15px);
   .main-header{
    display: flex;
    align-items: center;
    gap: 53px;
    .header-logo{
        border: 1px solid black;
        display: flex;
        gap: 8px;
        img{
            max-width: 39px;
            max-height: 39px;
        }
        .logo-txt{
            
            h2{
                font-size: 21px;
                font-weight: 700;
                color: #3BB77E;
            }
            h3{
                color: #ADADAD;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

   }
   .links-header{

   } 
}