.footer-category {
    max-width: 100%;
    padding: 100px 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .cards-wrapper {
        width: 1200px;
        padding: 20px;
        gap: 102px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        .card {

            display: flex;
            align-items: flex-start;
            gap: 10px;
            img {
                width: 52px;
                height: 52px;
                margin-right: 15px;
                margin: 10px 0;
            }
            .card-txt {
                h3 {
                    color: #253d4e;
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 9px;
                }
                p {
                    color: #adadad;
                    font-size: 16px;
                    font-weight: 500;
                }
            }
        }
    }
    .line {
        border: 1px solid rgba(0, 0, 0, 0.05);
        width: 1200px;
        height: 0px;
        margin: 27px 0;
        margin-bottom: 77px;
    }

   

        footer {
            display: flex;
            gap: 50px;
            cursor: pointer;

            .footer-cards {
                width: 363px;
                .logo {
                    display: flex;
                    align-items: center;
                    padding-bottom: 20px;

                    img {
                        width: 56px;
                        height: 56px;
                    }
                    .logo-txt {
                        margin-left: 8px;
                        h3 {
                            color: #3bb77e;
                            font-size: 28px;
                            font-weight: 700;
                        }
                        p {
                            color: #adadad;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }
                }

                .card-logo {
                    .txt {
                        display: flex;
                        align-items: center;
                        padding: 15px 0;
                        img {
                            width: 18px;
                            height: 18px;
                        }
                        p {
                            color: #253d4e;
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }

                    .cards {
                    }
                }
            }

            .cards {
                display: flex;
                gap: 150px;

                .card {
                    h3 {
                        color: #253d4e;
                        font-size: 24px;
                        font-weight: 600;
                        margin-bottom: 37px;
                    }
                    .card-txt {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        color: #253d4e;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
            }
        }
    
}
